@if (products$ | async; as result) {
  @if (result.isLoading) {
    <oc-client-loader></oc-client-loader>
  }
  @if (result.isSuccess) {
    <div class="border border-gray-border-color rounded p-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
      @for (product of result.data; track product.id) {
        <oc-client-product-tile [product]="product"></oc-client-product-tile>
      }
    </div>
  }
  @if (result.isError) {
    <oc-client-error-loading-data
      [message]="'Failed loading Products'"
    ></oc-client-error-loading-data>
  }
}
