@if (categories$ | async; as result) {
  @if (result.isLoading) {
    <oc-client-loader></oc-client-loader>
  }
  @if (result.isSuccess) {
    <div class="border border-gray-border-color rounded p-4">
      @for (category of result.data; track category.id) {
        <oc-client-category-item [name]="category.name" [id]="category.id"></oc-client-category-item>
      }
    </div>
  }
  @if (result.isError) {
    <oc-client-error-loading-data
      [message]="'Failed loading Categories'"
    ></oc-client-error-loading-data>
  }
}
