@if (categories$ | async; as result) {
  @if (result.isSuccess) {
    <h2 class="mb-4">Categories</h2>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="flex flex-col my-4 items-start"
      [(ngModel)]="category"
      (ngModelChange)="onCategoryChange($event)"
    >
      <oc-client-category-item
        [name]="'All'"
        [id]="''"
        [checked]="true"
      ></oc-client-category-item>
      @for (category of result.data; track category.id) {
        <oc-client-category-item
          [name]="category.name"
          [id]="category.id.toString()"
        ></oc-client-category-item>
      }
    </mat-radio-group>
  }
  @if (result.isError) {
    <oc-client-error-loading-data
      [message]="'Failed loading Categories'"
    ></oc-client-error-loading-data>
  }
}
