<div class="flex justify-center h-full">
  <div
    class="border border-gray-border-color rounded bg-gray-background-color"
    [ngClass]="classes"
  >
    <a [routerLink]="['/product', product.id, product.name]" class="flex flex-col gap-4">
      <oc-client-product-tile-image
        [image]="image"
      ></oc-client-product-tile-image>
      <oc-client-product-tile-name
        [name]="name"
      ></oc-client-product-tile-name>
      <oc-client-product-tile-prices
        [regularPrice]="regularPrice"
        [price]="price"
      ></oc-client-product-tile-prices>
      <ng-container *ngIf="isVariableProduct">
        <oc-client-product-variations [variations]="product.variations" [classes]="'justify-center'"></oc-client-product-variations>
      </ng-container>
    </a>
  </div>
</div>
